<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
<!--CSS SECTION-->

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome\fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
 
  <!--Main Navigation-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Assignment 1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-outo>


        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home </a>
        </li>
       
        <li class="nav-item active">
          <a class="nav-link" href="/about"><i class="fas fa-info"></i> About </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/project"><i class="fas fa-code-branch"></i> Project </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/services"><i class="fas fa-briefcase"></i> Service </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="contact"><i class="far fa-address-book"></i> Contact </a>
        </li>


    </div>
  </nav>

  <main class="container">
    <div class="jumbotron"
  </main>


  <h1>Welcome to the Alessandro's <%=title %> page</h1>

  <!--SCRIPT SECTION-->

<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src="/script/app.js"></script>
</body>
</html>


