<% import partials/header.ejs%>
<% import partials/mai


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%=title %> page</h1>
   
    </div>
  </main>

  <% import partials/footer.ejs %>




 
  