<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
<!--CSS SECTION-->

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome\fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
 
  <!--Main Navigation-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Assignment 1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto>

        <% if (title == "Home") { %>
          <li class="nav-item active">
            <% } else { %>
              <li class="nav-item"> 
                <% }  %>

          <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home </a>
        </li>

        <% if (title == "About") { %>
          <li class="nav-item active">
            <% } else { %>
              <li class="nav-item"> 
                <% }  %>
       
        <li class="nav-item active">
          <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
        </li>


        <% if (title == "Project") { %>
          <li class="nav-item active">
            <% } else { %>
              <li class="nav-item"> 
                <% }  %>

        <li class="nav-item active">
          <a class="nav-link" href="/project"><i class="fas fa-code-branch"></i> Project </a>
        </li>

        <% if (title == "Services") { %>
          <li class="nav-item active">
            <% } else { %>
              <li class="nav-item"> 
                <% }  %>

        <li class="nav-item active">
          <a class="nav-link" href="/services"><i class="fas fa-briefcase"></i> Service </a>
        </li>

        <% if (title == "Contact") { %>
          <li class="nav-item active">
            <% } else { %>
              <li class="nav-item"> 
                <% }  %>


        <li class="nav-item active">
          <a class="nav-link" href="contact"><i class="far fa-address-book"></i> Contact </a>
        </li>


    </div>
  </nav>


  <!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%=title %> page</h1>
   
    </div>
  </main>

<!--Bottom Nav-->

<footer>
<nav class="navbar fixed-bottom navbar-light bg-light">
  
</nav>

</footer>


  <!--SCRIPT SECTION-->

<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src="/script/app.js"></script>
</body>
</html>


