<!--Bottom Nav-->

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="display-6 navbar-text">&copy; Copyright Summer 2021.All Rights reserved to Alessandro Santos.</h6>
</nav>
</footer>


