<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
<div class="form-container">
        
       <form method="POST" >
        <label for="username">User Name: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password"/>
        <label for="email">Email: </label>
        <input type="text" name="emailaddress"/><br>
        <!--Buttom to create information to home webpage-->
        <button type="submit" value="SUBMIT" >Login </button>
       </form>

       </div>
</div></main>




<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>